<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <span><strong>Имя дороги:</strong> {{road.name}}</span>
                <span><strong>Шаг:</strong> {{road.step}}</span>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Показать/скрыть</div>
            <div class="panel-body">
                <button class="btn btn-default" ng-click="visible.coordinates=!visible.coordinates">Координаты</button>
                <button class="btn btn-default" ng-click="visible.average=!visible.average">Среднее</button>
                <button class="btn btn-default" ng-click="visible.smoothed=!visible.smoothed">Сглаженный профиль</button>
                <button class="btn btn-default" ng-click="visible.correlation=!visible.correlation">Корреляционная функция</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Расчеты</div>
            <div class="panel-body">
                <div class="col-md-1">
                    <input type="text" class="form-control" placeholder="Длина сглаживания" ng-model="base">
                </div>
                <button class="btn btn-default" ng-click="visible.average=true;calculateAverageRoad(base)">Среднее</button>
                <button class="btn btn-default" ng-click="visible.smoothed=true;calculateSmoothedRoad()">Сглаженный профиль</button>
                <button class="btn btn-default" ng-click="visible.correlation=true;calculateCorrelation()">Корреляционная функция</button>
            </div>
        </div>

        <div class="row">
        <div class="col-md-4">
        <div class="panel panel-default" ng-show="visible.coordinates">
            <div class="panel-heading">Координаты дороги</div>
            <div class="panel-body">
                <table class="table">
                    <tr ng-repeat="coordinate in road.coordinates track by $index">
                        <td>{{coordinate.x}}</td>
                        <td>{{coordinate.y}}</td>
                    </tr>
                </table>
            </div>
        </div>
        </div>

        <div class="col-md-4">
        <div class="panel panel-default" ng-show="visible.average">
            <div class="panel-heading">Усредненная дорога</div>
            <div class="panel-body">
                <table class="table">
                    <tr ng-repeat="coordinate in averageRoad.coordinates track by $index">
                        <td>{{coordinate.x}}</td>
                        <td>{{coordinate.y}}</td>
                    </tr>
                </table>
            </div>
        </div>
        </div>

        <div class="col-md-4">
        <div class="panel panel-default" ng-show="visible.smoothed">
            <div class="panel-heading">Сглаженная дорога</div>
            <div class="panel-body">
                <table class="table">
                    <tr ng-repeat="coordinate in smoothedRoad.coordinates track by $index">
                        <td>{{coordinate.x}}</td>
                        <td>{{coordinate.y}}</td>
                    </tr>
                </table>
            </div>
        </div>
        </div>

        <div class="col-md-4">
        <div class="panel panel-default" ng-show="visible.correlation">
            <div class="panel-heading">Автокорреляционная функция</div>
            <div class="panel-body">
                <dl>
                    <dt>Мат ожидание</dt>
                    <dd>{{smoothedRoad.expectationValue}}</dd>
                    <dt>Дисперсия</dt>
                    <dd>{{smoothedRoad.dispertion}}</dd>
                </dl>
                <table class="table">
                    <tr ng-repeat="value in smoothedRoad.correlation track by $index">
                        <td>{{value}}</td>
                    </tr>
                </table>
            </div>
        </div>
        </div>

        </div>
    </div>
</div>
